:root {
    --main-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --main-blue-color: #0098ff;
    --secondary-blue-color: #0066aa;
    --main-orange-color: #FF6700;
    --main-text-color: rgb(250, 250, 250);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 900px;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
}
#board-name-header {
    margin-left: 20px;
}
.list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
}